<ion-view view-title="Pessoas">
    <ion-content>
        <form>
            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="Pesquisa Pessoa" ng-model="pesquisa.termoPesquisa">
                </label>
                <button class="button button-clear" ng-click="pesquisaPessoa()">
                    <i class="icon ion-search placeholder-icon"></i>
                </button>
            </div>
            <!-- 
            <div class="list list-inset">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="Search" ng-model="pesquisa.termoPesquisa">
                </label>
                <button class="button button-clear" ng-click="pesquisaPessoa()">
                    <i class="icon ion-search placeholder-icon"></i>
                </button>
            </div>
             -->
        </form>

        <ion-list>
            <ion-item class="item item-avatar" ng-repeat="pessoa in resultadoResumoPessoas" ui-sref="kdm.pessoadetail({pessoaid: pessoa.id})">
                <img ng-src="{{fotoUrl(pessoa.id)}}">
                <h2>{{pessoa.nome}}</h2>
                <p>P_{{pessoa.ponto}}</p>
                
            </ion-item>
        </ion-list>


    </ion-content>
</ion-view>
